`<html>
<style type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></style>

[v-cloak] { display: none; }
</style>
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>

    <input class="new-todo"
      placeholder="What needs to be done?"
      v-model="newTodo"   
      @keyup.enter="addTodo">     

  </header>


  <section class="main" v-show="todos.length" v-cloak>
    <input class="toggle-all" type="checkbox" v-model="allDone">

    <ul class="todo-list">
      <li v-for="todo in filteredTodos"
        class="todo"
        :key="todo.id"
        :class="{ completed: todo.completed, editing: todo == editedTodo }">


        <div class="view">
          <input class="toggle" type="checkbox" v-model="todo.completed">

          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>

          <button class="destroy" @click="removeTodo(todo)"></button>
        </div>






        <input class="edit" type="text"

          v-model="todo.title"

          v-todo-focus="todo == editedTodo"


          @blur="doneEdit(todo)"
          @keyup.enter="doneEdit(todo)"
          @keyup.esc="cancelEdit(todo)">
      </li>
    </ul>
    

  </section>

  <footer class="footer" v-show="todos.length" v-cloak>
    <span class="todo-count">
      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
    </span>
    

      <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
      <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
      <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
    </ul>
    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
      Clear completed
    </button>
  </footer>
</section>
<footer class="info">

  <p>Double-click to edit a todo</p>
  <p>Written by <a href="http://evanyou.me">Evan You</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>


</html>

<script type="text/javascript">
// Full spec-compliant TodoMVC with localStorage persistence
// and hash-based routing in ~120 effective lines of JavaScript.

// localStorage persistence
var STORAGE_KEY = 'todos-vuejs-2.0'
var todoStorage = {
  fetch: function () {
    var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
    todos.forEach(function (todo, index) {
      todo.id = index
    })
    todoStorage.uid = todos.length
    return todos
  },
  save: function (todos) {
    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
  }
}

// visibility filters
var filters = {
  all: function (todos) {
    return todos
  },
  active: function (todos) {
    return todos.filter(function (todo) {
      return !todo.completed
    })
  },
  completed: function (todos) {
    return todos.filter(function (todo) {
      return todo.completed
    })
  }
}

// app Vue instance
var app = new Vue({
  // app initial state
  data: {
    todos: todoStorage.fetch(),
    newTodo: '',
    editedTodo: null,
    visibility: 'all',
    counter:
  },

  // watch todos change for localStorage persistence
  watch: {
    todos: {
      handler: function (todos) {
        todoStorage.save(todos)
      },
      deep: true
    }
  },

  // computed properties
  // http://vuejs.org/guide/computed.html
  computed: {
    filteredTodos: function () {
      return filters[this.visibility](this.todos)
    },
    remaining: function () {
      return filters.active(this.todos).length
    },
    allDone: {
      get: function () {
        return this.remaining === 0
      },
      set: function (value) {
        this.todos.forEach(function (todo) {
          todo.completed = value
        })
      }
    }
  },







  filters: {
    pluralize: function (n) {
      return n === 1 ? 'item' : 'items'
    }
  },

  // methods that implement data logic.  （执行数据逻辑）
  // note there's no DOM manipulation here at all.（根本没有操作DOM）
  methods: {
    addTodo: function () {
      var value = this.newTodo && this.newTodo.trim()
      if (!value) {
        return
      }
      this.todos.push({
        id: todoStorage.uid++,
        title: value,
        completed: false
      })
      this.newTodo = ''
    },






    removeTodo: function (todo) {
      this.todos.splice(this.todos.indexOf(todo), 1)
    },       //删除todo










    editTodo: function (todo) {             // @dblclick 双击todo.content触发事件
      this.beforeEditCache = todo.title      //保存之前的 todo.content
      this.editedTodo = todo         // editedTodo赋值----显示input   (不要隐藏 label 吗？？)
    },

    doneEdit: function (todo) {           // @blur事件 、@keyup.enter   失去焦点、enter触发事件
      if (!this.editedTodo) {
        return
      }
      this.editedTodo = null // eidtedTodo如果不存在则结束，如果存在，则置为null
      todo.title = todo.title.trim()
      if (!todo.title) {
        this.removeTodo(todo)
      } // 如果todo.title为空值，则删除这个todo
    },



    cancelEdit: function (todo) {        // @keyup.esc 事件
      this.editedTodo = null
      todo.title = this.beforeEditCache
    },











    removeCompleted: function () {
      this.todos = filters.active(this.todos)
    }
  },






  // a custom directive to wait for the DOM to be updated
  // before focusing on the input field.
  // http://vuejs.org/guide/custom-directive.html
  
  //    v-todo-focus="todo == editedTodo" 
  directives: {
    'todo-focus': function (el, binding) {
      if (binding.value) {
        el.focus()
      }
    }
  }



})




// handle routing
function onHashChange () {
  var visibility = window.location.hash.replace(/#\/?/, '')
  if (filters[visibility]) {
    app.visibility = visibility
  } else {
    window.location.hash = ''
    app.visibility = 'all'
  }
}

window.addEventListener('hashchange', onHashChange)
onHashChange()

// mount
app.$mount('.todoapp')
</script>